.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.tn-die{
  display: flex;
  flex-basis: 2em;
  min-height: 2em;
  max-width: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0.1em;
  &.tn-die-action{
    color: black;
    background-color: white;
  }
  &.tn-die-push{
    color: white;
    background-color: black;
  }
  &.tn-die-hurt{
    color: white;
    background-color: red;
  }
  &.canceled{
    text-decoration: line-through;
    opacity: 0.3;
  }
  &.success{
    color: white;
    background-color: green;
  }
}