.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.tn-die{
  display: flex;
  flex-basis: 2em;
  min-height: 2em;
  max-width: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.33em;
  margin: 0.1em;  
  &.tn-die-action{
    color: black;
    background-color: white;
  }
  &.tn-die-push{
    color: white;
    background-color: black;
    cursor: pointer;
  }
  &.tn-die-hurt{
    color: white;
    background-color: red;
  }
  &.canceled{
    text-decoration: line-through;
    opacity: 0.15;
    cursor: auto;
  }
  &.success{
    //color: green;
    border:2px solid green;    
    //background-color: green;
  }
  &.selected{
    animation: pulse 0.5s infinite;
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.technoir-chat-msg{
  .result{
    color: black;
    border: none;
  }
}