<div>
    <p>Let's roll some dice !</p>
</div>
<div class="flexrow" style="margin-bottom: 2em;">
    <div>
        <label for="dieAction">Action Die</label>
        <input type="number" name="dieAction" value="{{dieAction}}">
    </div>
    <div>
        <label for="dieAction">Push Die</label>
        <input type="number" name="diePush" value="{{diePush}}">
    </div>
    <div>
        <label for="dieHurt">Hurt Die</label>
        <input type="number" name="dieHurt" value="{{dieHurt}}">
    </div>
</div>